<div class="card-header">{{titulo}}</div>
<div class="card-body" style="overflow-x:auto;">
    <button class="btn btn-primary my-2" routerLink="/alumnos/form">Crear</button>
    <div *ngIf="!lista">
        <div class="spinner-border m-5" role="status">
            <span class="sr-only"></span>
        </div> 
    </div> 
    <div class="alert alert-info" *ngIf="lista?.length==0">
        No hay alumnos en la Base de Datos.
    </div>
    <table class="table table-hover table-striped" *ngIf="lista?.length>0">
        <thead>
            <tr>
                <th>id</th>
                <th>foto</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>email</th>
                <th>creado en</th>
                <th>examenes</th>
                <th>editar</th>
                <th>eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alumno of lista">
                <td>{{alumno.id}}</td>
                <td>
                    <img *ngIf="alumno.fotoHashCode"
                        [src]="baseEndPoint + '/uploads/img/'+ alumno.id +'?fotoHashCode=' + alumno.fotoHashCode"
                        class="img-thumbnail rounded" style="width: 94px; cursor: pointer;" alt="Alumno">
                    <img *ngIf="!alumno.fotoHashCode"
                        [src]="'/assets/images/no_user_male_icon.png'"
                        class="img-thumbnail rounded" style="width: 94px; cursor: pointer;" alt="Alumno">
                </td>
                <td>{{alumno.nombre}}</td>
                <td>{{alumno.apellido}}</td>
                <td>{{alumno.email}}</td>
                <td>{{alumno.createAt | date: 'yyyy/MM/dd h:mm:ss a'}}</td>
                <td>
                    <button class="btn btn-primary btn-sm" [routerLink]="['/alumnos/responder-examen', alumno.id]">
                        Responder
                    </button>
                </td>
                <td>
                    <button class="btn btn-secondary btn-sm" [routerLink]="['/alumnos/form', alumno.id]">
                        Editar
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" (click)="eliminar(alumno)">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator [length]="totalRegistros" [pageSize]="totalPorPagina" [pageIndex]="paginaActual"
        [pageSizeOptions]="pageSizeOptions" (page)="paginar($event)" showFirstLastButtons class="float-left mx-2">
    </mat-paginator>
</div>